.formFieldContainer {
    margin-bottom: 20px;
}

.formButtonContainer {
    display: flex;
    flex-direction: row-reverse;
}

.formField {
    position: relative;
}

.formField + .formField {
    margin-top: 25px;
}

.label {
    margin-bottom: 5px;
}

.numberInput{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--gray);
    border-radius: 5px;
    font: var(--body-large);
    background-color: var(--black);
}

.select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--gray);
    border-radius: 5px;
    font: var(--body-large);
    background-color: var(--black);
}

.textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--gray);
    border-radius: 5px;
    font: var(--body-large);
    background-color: var(--black);
    word-break: break-all;
}

.submitButton {
    border: 1px solid var(--accent);
    border-radius: 5px;
    padding: 5px 10px;
    font: var(--body-large);
    cursor: pointer;
}

.submitButton:disabled {
    border: 1px solid var(--gray);
    color: var(--gray);
    cursor: not-allowed;
}

.cancelButton {
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: 5px 10px;
    font: var(--body-large);
    cursor: pointer;
    margin-right: 10px;
}

.errorMessage {
    position: absolute;
    color: red;
    font: var(--body-large);
}
